.wrapper {
   // @include size($h, $w);
   @include font(22px, $ff, 400, 2px, 24px, $color_23);

   .searchMovies {
      // @include size(auto, $w);
      display: flex;
      flex-direction: column;


      .inputPart {
         width: 100%;


         .inputSearch {
            margin: 15px;
            border: 1px solid orange;
            width: 40%;
            min-width: 300px;
            min-height: 50px;
            border-radius: 10px;
            @include font(22px, $ff, 400, 2px, 50px, $color_23);


            &:placeholder-shown {
               text-indent: 10px;
               justify-items: center;
            }
         }
         @media (max-width:992px) {
            .inputSearch{
               width: 80%;
            }
         }
         @media (max-width:576px) {
            .inputSearch{
               width: 95%;
            }
         }
      }

      .radioPart {
display: flex;
flex-wrap: nowrap;
         input[type=radio] {
            accent-color: orange;
            margin-left: 15px;
         }
       
         label {
            margin-left: 5px;
         }
      }
     

      .buttonPart {
         width: 100%;

         .button {
            margin: 15px;
            min-width: 200px;
            background: orange;
            border-radius: 10px;
            min-height: 50px;
            @include font(28px, $ff, 400, 5px, 50px, $color_23);
         }
      }
   }
}